@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181818;
  color: rgb(215, 215, 215);
}

#markdown {
  #inline-code {
    padding: 5px;
    border-radius: 5px;
    background-color: #2f2f2f;
  }

  h1 {
    font-size: xx-large;
  }

  h2 {
    color: rgb(255, 255, 255);
    font-size: larger;
  }

  h3 {
    font-size: large;
  }

  p {
    color: rgb(180, 180, 180);
  }

  ol {
    list-style-type: lower-alpha;
    list-style-position: inside;
  }

  ul {
    list-style-type: square;
    list-style-position: inside;
  }

  a {
    color: #60a5fa;
    text-decoration: underline;
  }

  a:hover {
    color: #3b82f6;
    text-decoration: none;
  }

  pre {
    border-radius: 5px;
  }
}

@layer components {
  .page {
    @apply flex flex-col gap-4 px-4 py-12 sm:px-16 md:px-24 lg:px-28 xl:px-44;
  }

  .page-header {
    @apply flex w-max items-center gap-4;
  }

  .page-title {
    @apply text-2xl font-bold text-white;
  }

  .page-subtitle {
    @apply text-sm text-neutral-500;
  }

  .nav-link {
    @apply flex rounded border border-neutral-800 p-2 hover:border hover:border-neutral-600;
  }
}
