@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  #markdown {
    line-height: 200%;

    #inline-code {
      padding: 5px;
      font-size: 14px;
      border-radius: 5px;
      font-weight: 700;
    }

    pre {
      border-radius: 10px;
      background-color: rgb(25, 25, 25) !important;

      span {
        background-color: rgb(25, 25, 25) !important;
      }
    }
  }

  h2 {
    font-size: larger;
  }

  ol {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
  }

  ul {
    list-style-type: square;
    list-style-position: inside;
  }

  a {
    color: #2386ff;
  }

  a:hover {
    color: #7ca8ef;
    text-decoration: underline;
  }

  .regex-delimiter,
  .regex-source {
    background-color: rgba(0, 0, 0, 0) !important;
  }
}

[class="light"] body {
  color: black;
  background: rgb(229, 229, 232);

  #markdown {
    #inline-code {
      background-color: rgb(220, 220, 232);
      box-shadow: 0px 2px rgba(25, 25, 25, 0.25);
    }

    h2 {
      color: black;
    }

    p {
      color: rgb(80, 80, 80);
    }

    li {
      color: rgb(80, 80, 80);
    }
  }
}

[class="dark"] body {
  color: white;
  background: rgb(28, 28, 30);

  #markdown {
    #inline-code {
      background-color: rgb(40, 40, 40);
      box-shadow: 0px 2px rgba(225, 225, 225, 0.15);
    }

    h2 {
      color: white;
    }

    p {
      color: rgb(215, 215, 215);
    }

    li {
      color: rgb(215, 215, 215);
    }
  }
}

@layer components {
  .page {
    @apply flex flex-col gap-4 px-4 py-12 sm:px-16 md:px-32 lg:px-44 xl:px-96;
  }

  .page-header {
    @apply flex w-max items-center gap-4;
  }

  .page-title {
    @apply text-2xl font-bold text-black dark:text-white;
  }

  .page-subtitle {
    @apply text-sm text-zinc-500;
  }

  .nav-link {
    @apply flex rounded p-1 text-black hover:bg-zinc-300 hover:!text-black dark:text-white dark:hover:bg-zinc-700 dark:hover:!text-white;
  }
}
